<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <title>梦令布孑个人主页</title> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./styles/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/common.css" type="text/css" rel="stylesheet" />
  <link href="./styles/index.css" type="text/css" rel="stylesheet" />

  <script src="./libs/jquery-3.3.1.min.js" type="text/javascript"></script>
  <script src="./libs/lodash.core.min.js" type="text/javascript"></script>
</head>
<body>
  <div class="container">
    <div class="wrap">
      <div class="main">
        <div class="searchbar">
          <input placeholder="如：技术，生活，工具" />
          <button class="btn btn-primary">搜索</button>
        </div>
        <div class="content">
          <ul class="panels" id="panelsId">
            <li class="panel" v-for="(val,key) in articleList" :key="key">
              <div class="title">
                <span>{{val.title}}</span>
                <a href="#" class="more">更多</a>
              </div>
              <ul class="articles">
                <li class="item" v-for="item in val.list" :key="item.url">
                  <a href="{{item.url}}">{{item.title+"=="}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="./libs/bootstrap.min.js" type="text/javascript"></script>
  <script src="./libs/vue.js" type="text/javascript"></script>
  <script src="./libs/vuex.js" type="text/javascript"></script>
  <script>
    Vue.use(Vuex);
  </script>
  <script src="./js/api/home.js" type="text/javascript"></script>
  <script src="./js/home.js" type="text/javascript"></script>
  <script>
    (function(win,doc){
      // function Home (url){
      //   this.pathToUrl = function(path){
      //     var pathArr = path.split("-");
      //     var url = "../json/data/";
      //     _.forEach(pathArr, function (v, k) {
      //       url += v + "/";
      //     })
      //     return url.replace(/\/$/, ".json");
      //   }
      //   this.initEvents = function () {
      //     var that = this;
      //     $(".route").on("click", function (evt) {
      //       var path = $(this).attr("path");
      //       var url = this.pathToUrl(path);
      //       that.fetchList(url);
      //     })
      //   }
      //   this.init = function(){
      //     var firstRoute = $(".route:first-child");
      //     var path = firstRoute.attr("path");
      //     var pathname = firstRoute.attr("pathname");
      //     $("#pathId").html(pathname);
      //     var url = this.pathToUrl(path);
      //     $("#ifrContentId").attr("src","./article/list.html?url="+url);
      //   }
      // }
      // var sliderbar = new SliderBar();
      // sliderbar.init();

      // var home = new Home();
      // win.home = home;
    })(window,document);

    $(function(){
      // home.init();
      // home.initEvents();
    })
    
  </script>
</body>
</html>